.select :global(.ant-select-selector) {
    border-radius: 2px;
    border: 1px solid #E2E8F0 !important;
    background: #F8FAFC !important;
}

.select :global(.ant-select-selection-placeholder) {
    color: #5B8DEF !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    /* 21px */
    letter-spacing: 0.07px;
}

.select :global(.ant-select-selection-item) {
    color: #5B8DEF !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    /* 21px */
    letter-spacing: 0.07px;
}

.select svg {
    color: #5B8DEF;
}